:root {
    /* primary */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-one: hsl(37, 97%, 70%);
    --instagram-two: hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);
}

.dark-mode {
     /* dark theme */
     --toggle-one: hsl(210, 78%, 56%);
     --toggle-two: hsl(146, 68%, 55%);
     --background: hsl(230, 17%, 14%);
     --top-background: hsl(232, 19%, 15%);
     --card-background: hsl(228, 28%, 20%);
     --text-secondary: hsl(228, 34%, 66%);
     --text-main: hsl(0, 0%, 100%);
}

.light-mode {
    /* light theme */
    --toggle-one: hsl(230, 22%, 74%);
    --toggle-two: hsl(230, 22%, 74%);
    --background: hsl(0, 0%, 100%);
    --top-background: hsl(225, 100%, 98%);
    --card-background: hsl(227, 47%, 96%);
    --text-secondary: hsl(228, 12%, 44%);
    --text-main: hsl(230, 17%, 14%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    min-height: 100vh;
    height: 100%;
    background: var(--background);
    color: var(--text-db);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.heading {
    background-color: var(--top-background);
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: -1;
    border-radius: 0 0 15px 15px;
}

.main-heading {
    color: var(--text-main);
    font-size: 25px;
    margin: 0;
    padding: 30px 25px 0;
}

.secondary-heading {
    color: var(--text-secondary);
    font-size: 12px;
    margin: 0 25px;
    padding: 0 0 30px;
    border-bottom: 1px solid var(--text-secondary);
}

.toggle {
    display: flex;
    justify-content: space-between;
    transform: translateY(110px);
}

.current-theme {
    color: var(--text-secondary);
    font-size: 14px;
    padding-left: 25px;
}

.toggle-theme {
    padding-right: 25px;
}

.toggle-btn {
    width: 45px;
    height: 20px;
    background-image: linear-gradient(to right, var(--toggle-one), var(--toggle-two));
    border-radius: 30px;
    padding: 4px;
    transform: translateY(15px);
}

.toggle-btn > .inner-circle {
    width: 20px;
    height: 20px;
    background: var(--card-background);
    border-radius: 50%;
}

.main {
    position: absolute;
    top: 200px;
    margin: 0 70px;
}

.general-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.facebook {
    max-width: 300px;
    min-width: 300px;
    height: 185px;
    position: relative;
    background: var(--facebook);
    padding-top: 4px;
    border-radius: 4px 4px 6px 6px;
    margin: 5px;
}

.twitter {
    max-width: 300px;
    min-width: 300px;
    height: 185px;
    position: relative;
    background: var(--twitter);
    padding-top: 4px;
    border-radius: 4px 4px 6px 6px;
    margin: 5px;
}

.insta {
    max-width: 300px;
    min-width: 300px;
    height: 185px;
    position: relative;
    background: linear-gradient(to right, var(--instagram-one), var(--instagram-two));
    padding-top: 4px;
    border-radius: 4px 4px 6px 6px;
    margin: 5px;
}

.youtube {
    max-width: 300px;
    min-width: 300px;
    height: 185px;
    position: relative;
    background: var(--youtube);
    padding-top: 4px;
    border-radius: 4px 4px 6px 6px;
    margin: 5px;
}

.info {
    background: var(--card-background);
    border-radius: 0 0 4px 4px;
    flex-basis: 301px;
    min-width: 301px;
    height: 186px;
    text-align: center;
}

.user-info {
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: bold;
}

.logo {
    display: inline-block;
    transform: translateY(6px);
}

.username {
    display: inline-block;
    padding: 18px 5px 5px 5px
}

.follower-info {
    color: var(--text-main);
    font-size: 45px;
    margin: 0;
    padding: 0;
}

.followers {
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
    font-size: 11px;
    letter-spacing: 3px;
}

.follower-tracker-up {
    color: var(--lime-green);
    font-size: 11px;
    font-weight: bold;
    padding: 10px;
}

.follower-tracker-down {
    color: var(--bright-red);
    font-size: 11px;
    font-weight: bold;
    padding: 10px;
}

.arrow {
    display: inline-block;
    transform: translateY(-2px);
    padding-right: 2px;
}

.follower-count {
    display: inline-block;
}

.subheading {
    color: var(--text-main);
    transform: translateX(-45px);
}

.daily-overview {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.stats {
    background: var(--card-background);
    margin: 5px;
    flex-basis: 300px;
    min-width: 300px;
    height: 95px;
    border-radius: 4px;
}

.sections {
    display: flex;
    justify-content: space-between;
}

.category {
    color: var(--text-secondary);
    font-weight: bold;
    font-size: 13px;
    margin: 20px 20px; 
}

.app-type {
    margin: 18px 20px;    
}

.details {
    display: flex;
    justify-content: space-between;
}

.integer {
    color: var(--text-main);
    font-weight: bold;
    font-size: 22px;
    margin: 0px 20px 20px 17px;
}

.up {
    color: var(--lime-green);
    margin: 0 18px 20px 0;
}

.down {
    color: var(--bright-red);
    margin: 0 18px 20px 0;
}

.arrow-stats {
    display: inline-block;
    transform: translateY(-2px);
}

.percents {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
}

/* DESKTOP STYLES */
@media (min-width: 890px) {
    .main-heading {
        font-size: 32px;
        padding: 50px 80px 5px;
    }

    .secondary-heading {
        font-size: 15px;
        padding-left: 80px;
        margin: 0;
        border: none;
    }

    .toggle {
        transform: none;
    }

    .current-theme {
        position: absolute;
        top: 63px;
        right: 175px;
    }

    .toggle-theme {
        position: absolute;
        top: 70px;
        right: 90px;
    }

    .toggle-btn {
        transform: none;
    }

    .main {
        position: absolute;
        top: 150px;
        margin: 0 70px;
    }

    .facebook {
        max-width: 210px;
        min-width: 210px;
        margin: 15px;
    }
    
    .twitter {
        max-width: 210px;
        min-width: 210px;
        margin: 15px;
    }
    
    .insta {
        max-width: 210px;
        min-width: 210px;
        margin: 15px;
    }
    
    .youtube {
        max-width: 210px;
        min-width: 210px;
        margin: 15px;
    }

    .info {
        flex-basis: 210px;
        min-width: 210px;
        height: 185px;
    }

    .subheading {
        padding-left: 10px;
        transform: translateX(10px);
    }

    .stats {
        background: var(--card-background);
        margin: 15px;
        flex-basis: 210px;
        min-width: 210px;
        height: 95px;
        border-radius: 4px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }